/* General form */
:root {
    font-size: 16px;
    font-family: sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #1c1c20;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    margin: 0;
    padding: 0;
    background: #19191b;
    color: var(--text-primary);
}

.ML__keyboard {
    height: 50%;
}

/* Slider style */
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #171717;
}

body::-webkit-scrollbar-thumb {
    background: darkgoldenrod;
}

/* Specific details */

h1 {
    text-align: center;
}

/* UI Elements */

math-field {
    width: 80%;
    background: var(--bg-primary);
    color: var(--text-primary);
}

textarea {
    width: 81%;
    background: var(--bg-primary);
    color: var(--text-primary);
    resize: none;
    border: 1px solid #acacac;
    border-radius: 2px;
    overflow: auto;
    height: 100px;
}

button {
    background: var(--bg-primary);
    color: var(--text-primary);
    box-shadow: none;
    border: 1px solid #acacac;
    border-radius: 2px;
    height: 20px;
}

/* List Style */

li {
    list-style-type: none;
    margin-bottom: 10px;
    display: flex;
}

.input-list {
    width: 100%;
    border-spacing: 0 1px;  /* border-spacing will be used for gaps between list items */
    display: table;
}
.input-list > li {
  display: table-row;
}
.input-list > li > label,
.input-list > li > span {
  display: table-cell;
}

/* Backdrop */

.boxArround, ul {
    background: #1b1b1b;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
    max-width: 960px;
    margin: 30px auto;
    padding:  20px 30px;
    border-radius: 10px;
}

/* Footer */
footer {
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 30px 0;
    box-sizing: border-box;
    background-color: #111111;
}

.inner-footer {
    display: block;
    margin-left: 15px;
    padding-right: 0;
    width: 1100px;
    height: 100%;
}


/* last footer */
.inner-footer .footer-third {
    width: calc(20.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}

.inner-footer .footer-third:last-child {
    margin-right: 0;
}

.inner-footer .footer-third h1 {
    text-align: left;
    font-size: 22px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner-footer .footer-third a {
    font-size: 16px;
    color: var(--text-primary);
    display: block;
    width: 100%;
    font-weight: 200;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-decoration: none;
}

.inner-footer .footer-third a:hover {
    color: white;
}

.inner-footer .footer-third li {
    list-style-type: none;
    width: 2rem;
    padding-right: 5px;
    display: inline-block;
}

.inner-footer .footer-third span {
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 5px;
}

/* Small screens */
@media only screen and (max-width: 700px) {

    .boxArround, ul {
        margin-left: 5px;
        padding-left: 5px;
    }

    .inner-footer {
        padding-left: 10px;
    }

    .inner-footer .footer-third {
        width: calc(15.85% - 20px);
    }
    .item-l {
        width: 80%;
    }

    .item-r {
        width: 80%;
    }

    .footer .inner-footer
    {
        width: 90%;
    }

    .inner-footer .logo-container,
    .inner-footer .footer-third
    {
        width: 100%;
        margin-bottom: 30px;
    }
    .item-l {
        width: 100%;
    }

    .item-r {
        width: 100%;
    }
}
