body {
    background: rgba(0, 0, 0, 0.95);
    color: azure;
}

math-field {
    background: grey;
    color: azure;
}

textarea {
    background: grey;
    color: azure;
    resize: none;
    border-radius: 2px;
    overflow: hidden;
}

li {
    list-style-type: none;
}